* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* color: rgba(142, 142, 142, 1); */
}
button {
    cursor: pointer;
    border: none;
    background: none;
}

body {
    margin: 0;
}

.no-scroll {
    overflow: hidden;
}

